section.leagues {
	
		h5 {
			margin: 0 0 .2em 0;
			font-weight: bold;
			
			&+p {
				font-size: .8em;
			}
		}

		.promobox {
			.well {
				min-height: 21em;
			}

			h3 {
				margin-top: 0;
			}

			img {
				display: inline-block;
				margin: .5em 0 1em;
			}

			ul {
				font-size: .8em;
			}

			&.selected {
				.well {
					background: @brand-primary;
					color: white;

					h3 {
						color: white;
					}
				}
			}
		}

		.leagues-list {
			.margin-top();

			.league{
				padding: 1.5em 0;
				border-top: 1px solid @light_gray;
				
				.date {
					span,p {
						font-size: .8em;
					}
				}

				.participants {
					p {
						margin-top: .5em;
						font-size: 2em;
					}
				}

				.type {

					p {
						margin-top: 1.4em;

						span {
							font-size: 2em;
							
						}

						span + a {
							margin-left: 1em;
							position: relative;
							top: -.7em;
						}

					}
					
					.icon {
						border-radius: 50%;
						background: @brand-primary;
						padding: .3em;


						&:before {
							position: relative;
							left: .2em;
							color: white;
						}
					}

					.icon.icon-unlocked {
						background-color: @brand-success;
						font-size: 1.8em;
						padding: .45em;

						&:before {
							left: .1em;
						}
					}

					.icon.icon-lock {
						background-color: @brand-danger;
					}
				}

				.monitor {
					p {
						font-size: 1.5em;
						margin-top: .8em;
						color:white;

						.icon {
							border-radius: 50%;
							background: @medium_gray;
							padding: .4em;

							&:before {
								position: relative;
								color: white;
								font-size: .9em;
							}
						}
					}
				}


				&:first-child {
					border-top: none;
				}
			}
		}


		.form {
			// .description {
			// 	p {
			// 		font-size: .8em;
			// 		margin: 0;
			// 	}
				
			// }

			p.info {
				font-size: .7em;
			}

			td.actions {
				.text-center();

				.btn {
					font-weight: normal;
				}
			}
			
			.right-col {
				.btn-upload {
					position: relative;
					top: 1.4em;
					margin-left: 0;
				}
			}


			.btn-upload {
				margin-left: 1em;
			}

			.btn-warning, .btn-danger {
				color: white;
				font-size: 1em;
			}

			.icon-calendar+input {
				width: auto;
			}

			.datepicker {
				display: inline-table;
				width: 150px;
				margin: 0 .6em;
				position: relative;
				top: .6em;
			}

		}
		

		.monitor-header {
			
			h2 {
				margin: 0;
			}

			.col-xs-6 {
				padding-bottom: @grid-gutter-width
			}
		}

		table.basic-info {
			font-size: .8em;

			th {
				.text-right();
			}

			th,td {
				padding: .4em .4em;
			}

		}

		.info-table {
			h5 {
				background: @brand-primary;
				color: white;
				padding: .2em .5em;
				margin: 0 0 .5em 0;
				font-weight: normal;
			}

			.info {
				font-size: .8em;
				margin: .5em 0;
			}

			.view-more {
				.text-right();
				font-size: .8em;
			}

			.extra {
				font-size: .8em;
			}
		}
		.legend {
			.margin-top();
			font-size: .8em;

			.legend-items {
				list-style: none;
				display: inline;
				margin: 0;
				padding: 0;

				.legend-item {
					display: inline-block;
					margin-left: 1em;
					border-left: 1px solid @light_gray;
					padding: .4em 0 .4em 1em;

					&:first-child {
						margin-left: 0;
						border-left: none;
					}

					.icon {
						margin-right: .4em;
					}
				}
			}
		}

		.grid {
			.margin-top();

			font-size: .8em;

			.names {
				.header-cell {
					&>div {
						.text-right();
					}
				}
			}
			.grid-scroll {
				overflow-x: scroll;

				.grid-container {
					width: 1440px;

					.column {
						width: 120px;
						display: inline-block;
						float: left;

						.header-cell {
							.text-center();
							background: @light_gray;

						}

						.grid-cell {
							.text-center();
							border: 1px solid @light_gray;
							border-bottom-color: transparent;
							border-left-color: transparent;
							font-size: 1.2em;

							&:last-child {
								border-bottom-color: @light_gray;
							}

							.icon {
								margin: 0 .4em;
							}
						}

						&:first-child {
							.grid-cell {
								border-left-color: @light_gray;
							}
						}

						&.assignment {
							.header-cell {
								background: @brand-primary;
								color: white;
							}
						}
					}
				}
			}

			.names .header-cell, .grid-container .header-cell {
				height: 60px;
				position: relative;

				&>div {
					line-height: 1em;
					position: absolute;
					width: 100%;

					&:first-child {
						top: 5px;
					}

					&:last-child {
						bottom: 5px;
					}
				}
			}

			.names .name-cell, .grid-container .grid-cell {
				height: 40px;
				line-height: 40px;
			}
		}


		/* overrides */
		.steps {
			.step {
				min-width: 0;
				padding: 1em 1em 1em .5em;

				.name {
					font-size: 1.4em;
				}

				.info {
					font-size: .8em;
				}
			}
		}

}