section.leagues {
	
		h5 {
			margin: 0 0 .2em 0;
			font-weight: bold;
			
			&+p {
				font-size: .8em;
			}
		}

		.promobox {
			.well {
				min-height: 21em;
			}

			h3 {
				margin-top: 0;
			}

			img {
				display: inline-block;
				margin: .5em 0 1em;
			}

			ul {
				font-size: .8em;
			}

			&.selected {
				.well {
					background: @brand-primary;
					color: white;

					h3 {
						color: white;
					}
				}
			}
		}

		.leagues-list {
			.margin-top();

			.league{
				padding: 1.5em 0;
				border-top: 1px solid @light_gray;
				
				.date {
					span,p {
						font-size: .8em;
					}
				}

				.participants {
					p {
						margin-top: .5em;
						font-size: 2em;
					}
				}

				.type {

					p {
						margin-top: 1.4em;

						span {
							font-size: 2em;
							
						}

						span + a {
							margin-left: 1em;
							position: relative;
							top: -.7em;
						}

					}
					
					.icon {
						border-radius: 50%;
						background: @brand-primary;
						padding: .3em;


						&:before {
							position: relative;
							left: .2em;
							color: white;
						}
					}

					.icon.icon-unlocked {
						background-color: @brand-success;
						font-size: 1.8em;
						padding: .45em;

						&:before {
							left: .1em;
						}
					}

					.icon.icon-lock {
						background-color: @brand-danger;
					}
				}

				.monitor {
					p {
						font-size: 1.5em;
						margin-top: .8em;
						color:white;

						.icon {
							border-radius: 50%;
							background: @medium_gray;
							padding: .4em;

							&:before {
								position: relative;
								color: white;
								font-size: .9em;
							}
						}
					}
				}


				&:first-child {
					border-top: none;
				}
			}
		}


		.form {
			// .description {
			// 	p {
			// 		font-size: .8em;
			// 		margin: 0;
			// 	}
				
			// }

			p.info {
				font-size: .7em;
			}

			td.actions {
				.text-center();

				.btn {
					font-weight: normal;
				}
			}
			
			.right-col {
				.btn-upload {
					position: relative;
					top: 1.4em;
					margin-left: 0;
				}
			}


			.btn-upload {
				margin-left: 1em;
			}

			.btn-warning, .btn-danger {
				color: white;
				font-size: 1em;
			}

			.icon-calendar+input {
				width: auto;
			}

			.datepicker {
				display: inline-table;
				width: 150px;
				margin: 0 .6em;
				position: relative;
				top: .6em;
			}

		}
		

		.monitor-header {
			
			h2 {
				margin: 0;
			}

			.col-xs-6 {
				padding-bottom: @grid-gutter-width
			}
		}

		table.basic-info {
			font-size: .8em;

			th {
				.text-right();
			}

			th,td {
				padding: .4em .4em;
			}

		}

		.info-table {
			h5 {
				background: @brand-primary;
				color: white;
				padding: .2em .5em;
				margin: 0 0 .5em 0;
				font-weight: normal;
			}

			.info {
				font-size: .8em;
				margin: .5em 0;
			}

			.view-more {
				.text-right();
				font-size: .8em;
			}

			.extra {
				font-size: .8em;
			}
		}

		/* overrides */
		.steps {
			.step {
				min-width: 0;
				padding: 1em 1em 1em .5em;

				.name {
					font-size: 1.4em;
				}

				.info {
					font-size: .8em;
				}
			}
		}

}