@color_nav_bg: #2c333b;
@btn_azul: #6492c8;
@btn_azul_sombra: #3c6799;
@header_nav_btn_bg: @btn_azul_sombra;

@light_gray: #dedee3;
@medium_gray: #a6a8ab;

html, body {
	height: 100%;
}

header {
	background: lighten(@color_nav_bg, 5%);
	padding: 1em 0;

	.col-xs-9 {
		top: .2em;
		text-align: right;
	}

	ul.nav {
		display: inline-block;

		li {
			a {
				color: white;

				&:active,&:hover {
					background: @header_nav_btn_bg;
				}
				
			}
			
			&.open {
				a {
					color: @header_nav_btn_bg;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.dropdown-menu {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-top-width: 0;

					&.login {
						width: 15em;
						padding: .5em;
						left: auto;
						right: 0;

						label {
							display: block;
							font-size: .8em;
							text-align: left;
							color: @medium_gray;
						}

						input[type=text], input[type=password] {
							display: block;
						}

						.form-actions {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

footer {

	background: @light_gray;
	padding: 2em 0;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: .8em;

			a {
				color: @color_nav_bg;
				font-size: .8em;

				&:hover {
					color: @color_nav_bg;
				}

				&.icon:hover{
					text-decoration: none;
				}
			}

			&:first-child {
				margin-right: .2em;
			}
		}
	}
	.icon {
		font-family: 'icomoon';
		font-size: 1.4em;
	}
}

footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 5.625em; 
}

.panel.no-padding{
	.panel-body {
		padding: 0;

		.table {
			margin-bottom: 0;
			tr.info {
				td {
					background: lighten(@btn_azul, 35%);
					color: @color_nav_bg;
					font-weight: 600;
				}
				
			}
			tr {
				td {
					font-size: .85em;
				}
				
			}

			th {
				text-transform: uppercase;
				background: #ddd;
			}

			th,td {
				text-align: center;
			}
			
		}
	}
}


.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -5.625em; 
}
.page-wrap:after {
	content: "";
	display: block;
}

/* pagina alta usuarios*/

.right_btn{
	float: right;
	}

.centrado{
	display: block;
text-align: center;
margin-top: 30px;
}	



/* BOOTSTRAP OVERRIDES */
.container-fluid {
	max-width: 1170px;
}

.navbar {
	border-radius: 0;
}

.btn {
	font-weight: 600;
	letter-spacing: -.05em;
	color: white;
}

.btn-primary {
	background-color: @btn_azul;
	border-color: @btn_azul_sombra;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: @btn_azul;
	border-color: @btn_azul_sombra;
}

.panel-primary {
	&> .panel-heading {
		background: @btn_azul;

		h3 {
			font-family: 'Ropa Sans';
			text-transform: uppercase;
			font-size: 1.4em;
		}
	}
}

/*pagina ranking*/

.badge{
	background: @btn_azul;
}

/*fin pagina ranking*/

