html, body {
	height: 100%;
}

header {
	background: lighten(@color_nav_bg, 5%);
	padding: 1em 0;

	.col-xs-9 {
		top: .2em;
		text-align: right;
	}

	ul.nav {
		display: inline-block;

		li {
			a {
				color: white;

				&:active,&:hover {
					background: @header_nav_btn_bg;
				}
				
			}
			
			&.open {
				a {
					color: @header_nav_btn_bg;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.dropdown-menu {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-top-width: 0;

					&.login {
						width: 15em;
						padding: .5em;
						left: auto;
						right: 0;

						label {
							display: block;
							font-size: .8em;
							text-align: left;
							color: @medium_gray;
						}

						input[type=text], input[type=password] {
							display: block;
						}

						.form-actions {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

footer {

	background: @light_gray;
	padding: 2em 0;
	.margin-top();

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: .8em;

			a {
				color: @color_nav_bg;
				font-size: .8em;

				&:hover {
					color: @color_nav_bg;
				}

				&.icon:hover{
					text-decoration: none;
				}
			}

			&:first-child {
				margin-right: .2em;
			}
		}
	}
	.icon {
		font-family: 'icomoon';
		font-size: 1.4em;
		opacity: .8;
		
		&:hover {
			opacity: 1;
		}
	}
}

footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 5.625em; 
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -5.625em; 
}
.page-wrap:after {
	content: "";
	display: block;
}


.table {
	tr {
		td {
			font-size: .85em;
		}
	}

	th {
		text-transform: uppercase;
		background: @light_gray;
	}

}



/* calendario */
.calendar {
	.month {
		font: 3em 'Ropa Sans', sans-serif;
		text-align: center;
		color: #2c333b;
	}

	.week-selector {
		text-align: center;
		
		a {
			text-decoration: none;
			color: white;
			font-size: .6em;
			font-weight: bold;
			text-transform: uppercase;
			background: #6694cc;
			padding: .5em .8em;
			position: relative;
			margin: 0 2em;
			border-radius: .6em;
			border-bottom: 3px solid #3c6799;
		}
	}
	
	.columns {
		width: 100%;
		background: pink;
		margin: 1em auto;
		box-sizing: border-box;
		
		&:after {
			display: block;
			float: none;
			clear: both;
		}

		.column {
			width: 20%;
			display: inline-block;
			border-left: 1px solid #a6a8ab;
			padding: 0;
			box-sizing: border-box;
			float: left;
			min-height: 35em;

			&:first-child {
				margin-left: 0;
				border-left: none;
			}
			
			&.today {
				.dayname {
					background: #2c333b;
					color: white;
				}
			}

			.dayname {
				text-align: center;
				font: 1.5625em 'Ropa Sans';
				padding: .5em 0 .5em;
				color: #2c333b;
				
				
				sup {
					font-size: .55em;
				}
			}

			.indicators {
				.item {
					background: #dedee3;
					border: 1px solid #a6a8ab;
					border-bottom: 3px solid #a6a8ab;
					border-radius: .3em;
					margin: .8em .4em;
					padding: .2em .6em;
					
					.name {
						color: #2c333b;
						font-size: .8em;
						font-weight: bold;
						border-bottom: 1px solid #2c333b;
						margin-bottom: .6em;
					}

					
					.info {
						color: #2c333b;
						overflow: hidden;
						margin: .6em 0;
						
						.hour {
							float: left;
							font-weight: bold;
							
							&:before {
								content: '\e60b';
								margin-right: .3em;
								font-family: 'icomoon';
								font-size: .9em;
								font-weight: normal;
							}
						}

						.status {
							float: right;
							font-size: .7em;
							font-weight: bold;
							padding: .2em .4em;
							border-radius: .4em;
							
							&.forecasted {
								color: white;
								background: #99b570;
							}

							&.missed {
								color: white;
								background: #ef5a39;
							}

							&.pending {
								color: black;
								background: #edca3b;
							}
						}

					}

					.values {
						font-size: .7em;
						margin: .5em 0 .6em;
						
						table {
							width: 100%;
							border-collapse: collapse;
							border-radius: 15px;

							tbody {
								tr {
									td {
										background: white;
										padding: .2em .4em;
										border: 1px solid #a6a8ab;
										text-align: center;
									}
								}
							}
							thead {
								tr {
									th {
										background: #cdcdcd;
										padding: .2em .4em;
										border: 1px solid #a6a8ab;
									}
								}
							}
						}
					}
				}
			}
		}

	}
}
/* fin calendario */


/* fin pagina registro de usuarios */

/* --- FIN PAGINAS ---   */


/* BOOTSTRAP OVERRIDES */
.container-fluid {
	max-width: 1170px;
}

.navbar {
	border-radius: 0;
}

.btn {
	font-weight: 600;
	letter-spacing: -.02em;
	
	&.btn-primary {
		color: white;
	}
}

.panel-primary {
	&> .panel-heading {
		
		h3 {
			font-family: 'Ropa Sans';
			text-transform: uppercase;
			font-size: 1.4em;
		}
	}
}

.breadcrumb {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 1.2em;

	ol {
		margin: 0;
		padding: 0;
	}
}